email_template.html
adaptivecard.json
slackreport.json
.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
bin/
.nf-test/
ro-crate-metadata.json
modules/nf-core/
subworkflows/nf-core/
# Test data assets - keep original formatting
assets/testdata/
modules/local/sieve/train_single/meta.yml
