/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: SIEVE_INFER_SEX {
        publishDir = [
            path: { "${params.outdir}/sex_inference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_PREPROCESS {
        publishDir = [
            path: { "${params.outdir}/preprocess" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_TRAIN_SINGLE_GRID {
        publishDir = [
            path: { "${params.outdir}/grid_search/runs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_SELECT_BEST_PARAMS {
        publishDir = [
            path: { "${params.outdir}/grid_search/selection" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_TRAIN_CV {
        publishDir = [
            path: { "${params.outdir}/cross_validation/train" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_SELECT_BEST_CHECKPOINT {
        publishDir = [
            path: { "${params.outdir}/cross_validation/selection" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_EXPLAIN_REAL {
        publishDir = [
            path: { "${params.outdir}/explainability/real" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_TRAIN_SINGLE_ABLATION {
        publishDir = [
            path: { "${params.outdir}/ablation/runs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_ABLATION_COMPARE {
        publishDir = [
            path: { "${params.outdir}/ablation/summary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_CREATE_NULL_BASELINE {
        publishDir = [
            path: { "${params.outdir}/null_baseline/dataset" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_TRAIN_SINGLE_NULL {
        publishDir = [
            path: { "${params.outdir}/null_baseline/train" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_EXPLAIN_NULL {
        publishDir = [
            path: { "${params.outdir}/null_baseline/explain" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_COMPARE_ATTRIBUTIONS {
        publishDir = [
            path: { "${params.outdir}/null_baseline/comparison" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_VALIDATE_EPISTASIS {
        publishDir = [
            path: { "${params.outdir}/epistasis" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: SIEVE_VALIDATE_DISCOVERIES {
        publishDir = [
            path: { "${params.outdir}/discovery_validation" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
}
