/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run lescailab/sieve-nextflow -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    vcf          = "${projectDir}/assets/testdata/small_test_data.vcf.gz"
    phenotypes   = "${projectDir}/assets/testdata/small_test_data_phenotypes.tsv"
    genome_build = 'GRCh38'
    infer_sex    = false
    sex_map      = "${projectDir}/assets/testdata/sex_map.tsv"

    // Optional discovery validation resources
    clinvar_tsv     = "${projectDir}/assets/testdata/parsed_clinvar.tsv"
    gwas_tsv        = "${projectDir}/assets/testdata/parsed_gwas.tsv"
    go_mapping_json = "${projectDir}/assets/testdata/parsed_go.json"
}
